<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <p>
          <strong>Name:</strong>
          <%= @event.name %>
        </p>

        <p>
          <strong>Place:</strong>
          <%= @event.place %>
        </p>

        <p>
          <strong>Date:</strong>
          <%= @event.date %>
        </p>

        <p>
          <strong>Comment:</strong>
          <%= @event.comments.first.description %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @event.admin.first.email %>
        </p>

        <%= link_to 'Back', events_path, class: 'btn btn-default btn-sm' %>
        <%= link_to 'Add Comment', new_event_comment_path(@event), class: 'btn btn-default btn-sm' %>
        <% if current_user.attendee? %>
          <%= link_to 'Apply', apply_event_path, method: :post, class: 'btn btn-default btn-sm' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
