<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="light-well">
        <p>
          <strong>Name:</strong>
          <%= @event.name %>
        </p>

        <p>
          <strong>Place:</strong>
          <%= @event.place %>
        </p>

        <p>
          <strong>Date:</strong>
          <%= @event.date %>
        </p>

        <p>
          <strong>Comments:</strong>
          <%= @event.comments %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @event.user_id %>
        </p>

        <%= link_to 'Back', events_path, class: 'btn btn-default btn-sm' %>
      </div>
    </div>
  </div>
</div>
